
.aux

*.aux

*.gz

*.pdf

*.log

*.out

.tex

camtri.blg

camtri.zip

camtri.prv/tmp9365gCx/*.*
camtri.prv/tmp93655je/*.*



*.dvi

camtri.prv/tmp9365SMA/preview.ps

*.dsc

chapters/_region_.tex

chapters/Output/ch02.fdb_latexmk

chapters/Output/ch02.fls
